body {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.labelgroup {
    display: flex;
}

.label {
    background-color: #006788;
    width: 288px;
    height: 100vh;
    color: #FFFEFE;
    border-right: 4px solid #000000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header1 {
    width: 284px;
    height: 79px;
    border-bottom: 2px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.header2 {
    height: 100%;
    overflow-y: scroll;  
}

.users {
    padding-top: 70px;
}

span {
    padding-left: 20px;
}

img {
    margin-left: 12px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.label2 {
    background-color: #EDECEC;
    width: calc(100% - 288px);
    height: auto;

}

.label2 img {
    border: 1px solid #000000;
}

.header3 {
    background-color: #D9D9D9;
    height: 79px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.edit {
    margin: 0 auto;
    width: fit-content;
    line-height: 1em;
    margin-top: 100px;
}

input {
    padding: .5em;
    width: 550px;
}

button {
    background-color: #006788;
    color: #FFFEFE;
    font-size: 20px;
    border: none;
    width: 214px;
    height: 43px;
}

.submit_button {
    text-align: center;
    margin-top: 80px;
}