body {
    background-color: #edecec;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

header {
    background-color: #006788;
    width: 288px;
    height: 79px;
    color: #FFFEFE;
    font-size: 20px;
    font: Inter;
    border-right: 4px solid #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding-top: 145px;
    margin: 0 auto;
    width: fit-content;
}

label {
    display: block;
}

input {
    border: 1px solid #000000;
    width: 551px;
    height: 40px;
    font-size: 20px;
}

.button {
    text-align: center;
    padding-top: 70px
}

button {
    background-color: #006788;
    text-align: center;
    width: 214px;
    height: 43px;
    color: #FFFEFE;
    font-size: 20px;
    border: none;
}